<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699614750464-jd85iaulb8v2vug9ir4hkpndttcdudd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699614750464-jd85iaulb8v2vug9ir4hkpndttcdudd7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>699614750464-1mtbfqi3teelmldulqu6dank0slt5lt3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGCo4nRlmfWgNSS9LeK-6rTgyl7vj5eos</string>
	<key>GCM_SENDER_ID</key>
	<string>699614750464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psycformusos.praclog</string>
	<key>PROJECT_ID</key>
	<string>praclog-6f18f</string>
	<key>STORAGE_BUCKET</key>
	<string>praclog-6f18f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699614750464:ios:c1fe0471bd1d81f51fb5e5</string>
</dict>
</plist>