<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60305170884-6bf8vir1kfigpeklk8sjc2o02vnocg7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60305170884-6bf8vir1kfigpeklk8sjc2o02vnocg7p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>60305170884-18v1sub9urbgj772rj0h623qp71aqab6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA200aIl6Bu1v3C2TBnuqJy58CaSN3n2OA</string>
	<key>GCM_SENDER_ID</key>
	<string>60305170884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psycformusos.praclog</string>
	<key>PROJECT_ID</key>
	<string>praclog-b31bd</string>
	<key>STORAGE_BUCKET</key>
	<string>praclog-b31bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60305170884:ios:92748044a4efd474ff0491</string>
</dict>
</plist>